* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --logo-font-color: #0059ff ;
}

@font-face {
    font-family: logo;
    src: url('../fonts/fb-logo.ttf');
}

@font-face {
    font-family: texts;
    src: url('../fonts/Neo\ Sans\ Std\ Regular.otf');
}

img {
    width: 100%;
}

h1,h2,h3,h4,h5,h6 {
    text-decoration: none;
}

p,span {
    font-family: sans-serif;
}

span {
    font-size: 0.8rem;
    color: gray;
}

body {
    background-color: white;
    color: black;
    position: relative;
}

header {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    background-color: white;
}

header div {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    margin-bottom: 3%;
    margin-left: 2%;
    margin-right: 2%;
}

.logo-container {
    margin: 0%;
}

.logo-container h1 {
    font-family: logo;
    color: var(--logo-font-color);
    font-size: 1.8rem;
}

.icons-container {
    width: 23%;
    margin: 0%;
}

.icons-container button {
    width: 40%;
    margin: auto;
    border: none;
    border-radius: 50%;
}

.icons-container button img {
    padding: 20%;
}

.nav-container {
    margin: 0%;
    border-bottom: solid 1px #cccccc;
}

.nav-container div {
    width: 16.5%;
    padding-bottom: 1%;
    margin: auto;
}

.nav-container div img {
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 10%;
    margin-bottom: 10%;
}

.selected-icon {
    border-bottom: 3px solid var(--logo-font-color);
}

.post {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-top: 2%;
    padding-bottom: 2%;

    border-bottom: 7px solid rgb(187, 187, 187) ;
}

.profile-container {
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
}

.profile-photo-container {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.profile-photo {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-photo img {
    border-radius: 50%;
}

.profile-text-container {
    width: 82%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profile-text-container p {
    font-size: 1rem;
    color: black;
}

.options-image-container {
    width: 7%;
}

.content-container {
    width: 95%;
    margin: auto;
}

.content-container p {
    line-height: 1.2rem;
}

.reactions-counter-container {
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 1%;
    padding-bottom: 3%;
    border-bottom: 1px solid rgb(180, 180, 180);
}

.likes-container {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.likes-container img {
    width: 80%;
}

.reactions-options-container {
    width: 95%;
    margin: auto;
    display: flex;
    padding-top: 2%;
    padding-bottom: 2%;
}

.reactions-options-container div {
    width: 20%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reactions-options-container div img {
    width: 30%;
}

.reactions-options-container div span {
    width: 65%;
    font-size: 0.7rem;
}

.video-container {
    width: 100%;
}

.video-container video {
    width: 100%;
}